<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Contador de Tento </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="back">
  <ion-card class="ion-text-center">
    <ion-card-title> Valendo: x </ion-card-title>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col class="trucado"> <ion-button>1</ion-button> </ion-col>
      <ion-col class="trucado"> <ion-button>3</ion-button></ion-col>
      <ion-col class="trucado"> <ion-button>6</ion-button></ion-col>
      <ion-col class="trucado"> <ion-button>9</ion-button></ion-col>
      <ion-col class="trucado"> <ion-button>12</ion-button></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>Time 1</ion-col>
      <ion-col>Time 2</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-button>+</ion-button></ion-col>
      <ion-col><ion-button>+</ion-button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>0</ion-col>
      <ion-col>0</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-button>-</ion-button></ion-col>
      <ion-col><ion-button>-</ion-button></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    Partidas
    <ion-row>
      <ion-col>Time 1: </ion-col>
      <ion-col>x</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Time 2: </ion-col>
      <ion-col>x</ion-col>
    </ion-row>
  </ion-grid>

  <ion-button expand="block">Limpar</ion-button>
</ion-content>
